!home/Pictures/SmallTsunErio
!home/.emacs.d/init.el
*.el
*.elc
home/.emacs.d/ac-comphist.dat
home/.emacs.d/elpa
home/.emacs.d/elisp
home/.emacs.d/el-get
home/.emacs.d/history
home/.emacs.d/url/cookies
home/.emacs.d/url/cookies~
home/.emacs.d/ac-comphist.dat
home/.emacs.d/init.elc
home/.emacs.d/history
home/.emacs.d/image-dired/
home/.emacs.d/session*
home/.emacs.d/tramp
home/.navi2ch
home/Pictures
*.rcp
home/.emacs.d/elpa/*
home/.emacs.d/ajc-java-complete/
home/.emacs.d/bookmarks
home/.emacs.d/helm
home/.emacs.d/%backup%~

