home/.emacs.d/ac-comphist.dat
home/.emacs.d/auto-install/auto-complete.elc
home/.emacs.d/elpa/*
home/.emacs.d/elisp/*
home/.emacs.d/el-get/*
home/.emacs.d/history
home/.emacs.d/url/cookies
home/.emacs.d/url/cookies~
home/.emacs.d/ac-comphist.dat
home/.emacs.d/init.elc
home/.emacs.d/image-dired/
home/.emacs.d/session*
home/.navi2ch/*
home/Pictures/*

!home/Pictures/SmallTsunErio
!home/.emacs.d/init.el
