[core]
	excludesfile = ~/.gitignore
	editor = emacsclient -nw
[user]
        name = kakakaya
        email = kakakaya+git@gmail.com
[color]
	ui = auto
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[push]
        default = simple
[alias]
	cm = commit -v
	cma = commit -v -a
	cmm = commit -v -m
	cmam = commit -v -a -m
	cmma = commit -v -a -m

	co = checkout
	com = checkout master
	cod = checkout develop

	st = status
	s = status -sb
	sb = show-branch
	df = diff

	ps = push
	pl = pull
[merge]
	ff = false
[credential]
	helper = cache
