a.out
*.pyc
*.elc
*.bak
.DS_Store
*.swp
vendor
.ruby-version
wget-log

# emacs backups
*~
\#*

# log, tmp files under log, tmp directory
log/**/*
tmp/**/*

# gnu global
GPATH
GRTAGS
GSYMS
GTAGS
*.db
*.class
